@use "./ContenedorTareas";
@use "./BotonAgregar";

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 60px;
    h2{
        font-size: 30px;
        text-align: center;
    }
    .subtitulo{
        margin-top: 2px;
        font-size: 20px;
        margin-left: 20px;
        margin-bottom: 5px;
    }
    .subtitulo_boton{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .margen{
        margin-left: 30px;
    }
}