@use "./Modal";
@use "./FormEditarProyecto";
$color_boton: #779CAB;

.edit-project-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  h2 {
    font-size: 30px;
    text-align: center;
  }
  padding-bottom: 6rem;
}