$color_fondo_header: #35524A;
$color_fuente : white;

.header {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: $color_fondo_header;
    padding: 20px;
    color: $color_fuente;
    z-index: 1;
    img{
        width: 110px
    }
    h2{
        margin: 10px;
    }
}