$color_fondo_header: #35524A;
$color_fuente : white;

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: $color_fondo_header;
    padding: 10px;
    color: $color_fuente;
    img{
        width: 110px
    }
    h2{
        margin: 10px;
    }
}