$color_fondo: gray;
$color_fuente : white;
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    bottom: 0;
    width: 364px;
    background-color: $color_fondo;
    padding: 10px;
    color: $color_fuente;
    position: fixed;
}
