$color_fondo: #35524A;
$color_fuente : white;
$color_activo : #74bba8;
$color_activo_fuente : black;
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    bottom: 0;
    padding: 5px;
    width: 364px;
    background-color: $color_fondo;
    color: $color_fuente;
    position: fixed;
}

.enlace{
    text-decoration: none;
    color: $color_fuente;
    padding: 10px;
    border-radius: 20px;
}

.activo{
    color: $color_activo_fuente;
    background-color: $color_activo;
}
