$color_fondo: #35524A;
$color_fuente : white;
$color_activo : #74bba8;
$color_activo_fuente : black;
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 364px;
    height: 80px;
    background-color: $color_fondo;
    color: $color_fuente;
    position: fixed;
    div{
        display: flex;
        justify-content: center;   
        align-items: center;
        img{
            margin: 0;
            width: 55px;
        }
    }
}

.enlace{
    text-decoration: none;
    color: $color_fuente;
    padding: 5px;
    border-radius: 20px;
}

.activo{
    color: $color_activo_fuente;
    background-color: $color_activo;
}
