$color_botones: #779CAB;
.botones_proyectos{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 0;
    button{
        cursor: pointer;
        padding: 5px;
        font-size: 26px;
        background-color: $color_botones;
        margin-right: 0;
        box-shadow: none;
        border: 1px solid black;
    }
    .editar{
        width: 40px;
        text-decoration: none;
        border-bottom-left-radius: 15px;
        .enlace_editar{
            text-decoration: none;
            color: black;
        }
    }
    .eliminar{
        width: 40px;
    }
    .completar{
        border-bottom-right-radius: 15px;
    }
}