$color_fondo_contenedores: #627C85;

@use "./BotonesProyectos";

.proyectos{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contenedor_proyecto_largo{
    width: 280px;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    background-color: $color_fondo_contenedores;
    padding: 5px;
    border-radius: 20px 20px 20px 0;
    p{
        margin: 5px;
    }
    .nombre{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}