@use "./BotonesProyectos";

.proyectos{
    display: flex;
    flex-direction: column;
}

.contenedor_proyecto_largo{
    width: 310px;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 40px;
    padding: 5px;
    border-radius: 20px 20px 20px 0;
    p{
        margin: 5px;
    }
    .nombre{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}