@use "./BotonesForm";

.campo-formulario {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    label {
        width: 120px;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    input,
    textarea,
    select {
        font-family: 'WorkSans';
        width: 170px;
        padding: 2px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    textarea {
        resize: none;
    }
}
.color-field {
    .color-picker-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;

        input[type="color"] {
            width: 40px;
            height: 40px;
            border: none;
            cursor: pointer;
        }

        .color-preview {
            width: 40px;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
}