@use "./Botones";

.campo-formulario {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    label {
        width: 120px;
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    input, textarea, select {
        width: 200px;
        padding: 2px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}